/* ---- BODY WITH FULL WIDTH & HEIGTH ---- */

.md-main__inner { 
    max-width: 100%;
    padding: 0px;
    margin: 0px;
} 


.md-sidebar--primary {
    left: 0; 
} 


.md-sidebar--secondary {
    right: 0; 
    margin-left: 0; 
    -webkit-transform: none; 
    transform: none; 
}

.md-grid { 
    max-width: 100%;
    padding: 0px;
    margin:0px;
}

.md-content__inner.md-typeset { 
    max-width: 100%;
    padding: 0px;
    margin:0px;
}


/*.md-content__inner.md-typeset > p {display: none;}*/



.md-content__inner.md-typeset::before {
        display: none;
}



.div-cleanbody {
   padding: 25px 50px;
}

@media only screen and (max-width: 1219px) {
    .div-cleanbody {
       padding: 25px 15px;
    }
}
