:root > * {
	/*--color-back-form: rgba(245, 245, 245, 0.9);
	--color-button: #1FAA1F;
	--md-primary-fg-color: #2B8DCE !important;
	--md-primary-fg-color-light: rgba(19,96,149,0.2) !important;
	--md-primary-fg-color--dark: #505050;*/
}

#######################################


/* ------ NAVIGATION ------ */

.md-header {
    background-color: var(--md-primary-fg-color);
    background-image: var(--md-primary-fg-color);
}

.md-header__title {
	margin-left:0px;
}

.md-copyright {
    max-width: 25px !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}

.md-tabs {
    background-color: rgba(0,0,0,.7) !important;
    padding: 0px;
}

.md-tabs__item {
    max-height: 35px;
    vertical-align: middle;
}


.md-tabs__item:hover, .md-tabs__item:hover > a  {
    background-color: #DDD !important;
    color: black !important;
}

.md-tabs__link {
    color: #DDD;
    max-height: 10px;
    vertical-align: middle;
    margin-top:8px;
}

.md-tabs__link--active {
    text-decoration: bold;
    color: white;
}



.md-tabs__inner.md-grid, .md-header__inner.md-grid {
    margin:0px !important;

}

.md-header__source {
    right:0px;
}


a.md-content__button.md-icon {
    display: none !important;
}

a.md-source {
    display: none !important;
}

/* ------ COMMUN CLASS ------*/

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.ellipsis {
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
    


/* ------ KONSILION ADMONITION ------ */


:root {
  --md-admonition-icon--ksln-info: url(https://katalog.konsilion.fr/latest/images/circle-info-solid.svg)
}
.md-typeset .admonition.ksln-info,
.md-typeset details.ksln-info {
  border-color: white;
}
.md-typeset .ksln-info > .admonition-title,
.md-typeset .ksln-info > summary {
  background-color: rgba(0,0,0,0.03);
}
.md-typeset .ksln-info > .admonition-title::before,
.md-typeset .ksln-info > summary::before {
  background-color: grey;
  -webkit-mask-image: var(--md-admonition-icon--ksln-info);
          mask-image: var(--md-admonition-icon--ksln-info);
}

