h1 {
    display:none;
} 


/*----------------------------
BUTTONS & INPUT ON KATALOG MENU
-----------------------------*/ 
    
#KatalogMenu {
    z-index: 99 !important;
    padding: 25px 25px 25px 25px;
    border-radius:0px;
    margin: 0px;
    background-color: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(30, 30, 30, 0.1);
}

    
#FiltersZone {
    padding: 0px 0px 0px 0px;
    width: 100%;
} 


#FiltersList {
    padding: 0px 25px 0px 0px;
}



#Filter1Zone { 
    padding-top: 25px;
    margin-bottom: 25px;
    border-top: solid 1px #e0dfdf;
} 

#Filter2Zone { 
    padding-top: 25px;
    margin-bottom: 25px;
    border-top: solid 1px #e0dfdf;
} 


#Filter1Zone, #Filter2Zone {
    justify-content: left;
    text-align: left;   
}


@media only screen and (max-width: 600px) {
    #Filter1Zone, #Filter2Zone {
        justify-content: center !important;
        text-align: center !important;   
    }
}  


#Filter2Zone > ul {
    padding:0px;
    margin:0px;
}


#Filter2Zone > ul > li{ /* will style only the top level li */
    list-style: none;
	display: inline-block;
    padding:0px;
    margin:0px;
}
    

    
#Filter2Zone li ul{
    font: italic small-caps bold 16px/2 cursive;
	position:absolute;
	list-style:none;
	text-align:center;
	width:500px;
	top:70px;
	/* This is important for the show/hide CSS animation */
	max-height:0px;
	overflow:hidden;
	-webkit-transition:max-height 0.4s linear;
	transition:max-height 0.1s linear;
}


#BtnReset:hover {
    color: white !important;  
    background-color: #DD160A;
    box-shadow: inset 7px 7px 8px rgba(55, 84, 170, 0.2),
              inset -7px -7px 10px rgba(255, 255, 255, 0.2),
              inset 0px 0px 4px rgba(255, 255, 255, 0.2) !important;
}

#BtnAdd { 
    background-color: rgba(125, 236, 33, 0.1);
}

#BtnAdd:hover {
    color: white !important;  
    background-color: green;
    box-shadow: inset 7px 7px 8px rgba(55, 84, 170, 0.2),
              inset -7px -7px 10px rgba(255, 255, 255, 0.2),
              inset 0px 0px 4px rgba(255, 255, 255, 0.2) !important;
}


#SearchInput {
  background-color: #F5F5F5;
  width: 100%;
  max-width: 450px;
  font-size: 16px;
  padding: 12px 12px 12px 12px;
  border: 1px solid #ddd;
  margin: 0px 12px 0px 0px;
  border-radius: 5px;
  transition: width 0.6s linear;
  transition: background-color 0.1s linear;
}


#SearchInput:hover {
    background-color: white;
}

#SearchInput:focus {
    background-color: white;
    width: 100%;
    transition: width 0.3s linear, max-width 0.3s linear;
    max-width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(30, 30, 30, 0.2);
}


#SearchInput:focus::placeholder {
    color: white;
}    


#SearchParam {
    box-shadow: 0px 25px 25px -32px rgba(30, 30, 30, 0);
    transition: box-shadow 0.5s linear;
}

#SearchParam:hover {
    box-shadow: 0px -25px 22px -32px rgba(30, 30, 30, 0.7);
}

#FiltersTag {
    justify-content: left;
    text-align: left;
    font-size: 25px;
    margin: 25px 0px 0px 25px
}

    




/*----------------------------
   KATALOG DATA - CARD & TAB
-----------------------------*/ 


#CardPreview {
	height:800px
}

@media only screen and (min-width: 1220px) {
    #CardPreview {
       padding: 0px 0px 0px 0px;
    }
}

#TabPreview {
    margin: 0px 50px;
}

@media only screen and (max-width: 1219px) {
    #TabPreview {
        margin: 0px 10px;
    }
}    
  





/*----------------------------
    KATALOG POPUP 
-----------------------------*/

.popup {
    background-color: #F5F5F5;
    margin: 50px 250px;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid grey;
}
    

@media only screen and (max-width: 1219px) {
    .popup {  
        background-color: #F5F5F5;
        margin: 25px;
    }  
}      
    





/*----------------------------
    KATALOG LOADER
-----------------------------*/

#LoaderContainer {
  width: 100px;
  height: 425px;
  position: absolute;
  top: calc(50% - 17px);    
  left: calc(50% - 35px);
}
    
    
#LoaderWheel {
  width: 70px;
  height: 70px;
  border-style: solid;
  border-top-color: black;
  border-right-color: black;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 5s ease-in-out infinite;
  transform: rotate(-200deg);
}
    
@keyframes rotate {
  0% { border-width: 10px; }
  25% { border-width: 3px; }
  50% { 
    transform: rotate(360deg); 
    border-width: 10px;
  }
  75% { border-width: 3px;}
  100% { border-width: 10px;}
}






/*----------------------------
    AUTRES ELEMENTS 
-----------------------------*/  

    
/* ---- Status de base les FilerDiv sont caché ----- */
.filterDiv {
  display: none;
}

#BrMobile {
    display: none;
}

@media only screen and (max-width: 737px) {
	#BrMobile {
		display: block;
	}
}
