/* ======= BODY WITH FULL WIDTH & HEIGTH ======= */


.md-main__inner { 
    max-width: 100%;
    padding: 0px;
    margin: 0px;
} 

.md-grid { 
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}



/* ======= CONTENT WITH LIGHT BASE MOBILE PADDING ======= */



	@media only screen and (min-width: 1220px) {
		.md-content{
			margin: 50px;
		}
	}

	@media only screen and (max-width: 1219px) {
		.md-content {
			padding: 25px 10px;
			margin-left: auto;
			margin-right: auto;
		}
	
	}

	p {
		font-size: 18px; 
		font-weight: 350;
	}



/* ======= BARRE DE COULEUR HAUTE ======= */

.md-header {
    height: 30px;
}

.md-header__button.md-icon > * {
    padding: 0px;
    margin: 0px;
}

.md-header__button.md-logo {
    
}

.md-header__topic {
    display: none;
}


.md-header__button.md-icon {
    padding: 0px;
    margin: 5px 0px 0px 5px;
    position: absolute;
    top: 0;
    left: 0;
}










/* ======= NAVIGATIONS, TOC, PREV-NEXT ======= */


.md-sidebar__inner {
    padding: 0px !important;
}


    /* ======= NAVIGATION ======= */


    .md-sidebar--primary {
        left: 0; 
    } 

    .md-nav__link.md-nav__link--active::after {
        content: "";
    }

    .md-sidebar.md-sidebar--secondary > .md-sidebar__scrollwrap {
        padding: 15px;
        box-shadow: -5px 0px 8px rgba(0,0,0,0.1);
    }

    .md-sidebar.md-sidebar--secondary {
        padding: 0px;
    }

    .md-nav--secondary > .md-nav__title {  
	font-size: 18px;
	color: #666;
	line-height:20px;
	padding: 25px 0;    
	margin: 25px auto 25px auto;
	border-bottom: 1px solid #DDD;
    }

        /* ------ CORRECTION DATAMI BUG */

        .md-nav__link {
            color: rgba(125,125,125,1) ;
            font-size:17px;
        }

        /* ------ GRAND ECRAN */

        @media only screen and (min-width: 1220px) {

            .md-sidebar.md-sidebar--primary {
                width: 300px;
                padding: 0px !important;
            }

            .md-nav--primary > .md-nav__title {  
                font-size: 18px;
                color: #666;
                line-height:20px;
                padding: 25px 0;    
                margin: 75px auto 25px auto;
                border-bottom: 1px solid #DDD;
	        border-top: 1px solid #DDD;
            }

            .md-sidebar.md-sidebar--primary > * {       
                padding-left: 25px;
                margin: 0;
                box-shadow: 5px -10px 8px rgba(0,0,0,0.1);
            }
		
            .md-nav__item.md-nav__item--active > a {
                margin: 10px 0px;
                padding: 10px;
                background-color: white;
                border-width: 0px 0px 0px 3px;
                border-style: solid;
                border-color : var(--md-primary-fg-color);
		background-color: #F5F5F5;    
                border-radius: 0px 0px 0px 0px;
            }
		

		.md-nav__item--nested > nav {
			padding-left:15px;
			background-color: rgba(150,150,150,0.1);
		}

		.md-nav__item--nested > nav > ul {
			padding: 5px 0 10px 0;
		}

		.md-nav__item {
			padding: 0px;
		}	

		.md-nav__link {
			margin: 20px auto;
		}
			
		/* ======= LOGO ======= */

		.md-header__button.md-logo {
			position: absolute;
			top: 35px;
			left: 13px;
		}

		.md-header__button.md-logo :-webkit-any(img,svg) {
			height: 2rem;
		}			
			
			
			
			
			
			
        }   

    /* ======= PREV-NEXT ======= */

        .md-footer__inner.md-grid, .md-footer {
            display:none !important;
        }



/* ======= OVERWRITE COLOR MKDOCS - Deactivate ======= */

/*
:root > * {
	--color-back-form: rgba(245, 245, 245, 0.9);
	--color-button: #1FAA1F;
	--md-primary-fg-color: #2B8DCE !important;
	--md-primary-fg-color-light: rgba(19,96,149,0.2) !important;
	--md-primary-fg-color--dark: #505050;
}
*/
