    #ShowNav {
        background-color: var(--md-primary-fg-color);
        color: white;    
        font-size: 17px;
        font-weight: 500;
        position: fixed;
        top: 30px;
        left: 0px;
        border-radius: 0 0 10px 0;
        padding: 5px 25px; 
        cursor: pointer;
        z-index: 4;
    }

  
    #HideNav {
        background-color: #EEE;
        color: grey;    
        font-size: 17px;
        font-weight: 500;
        position: fixed;
        top: 30px;
        left: 225px;
        border-radius: 0 0 0 10px;
        width: 125px;
        height: 30px;
        cursor: pointer;
        z-index: 3;
    }
    
    #HideNav:hover {
        background-color: rgba(50,50,50,1);
        color: white;
    }
    #ShowNav:hover {
        background-color: rgba(50,50,50,1);
        color: white;
    } 
