/* ======= BODY WITH FULL WIDTH & HEIGTH ======= */


.md-main__inner { 
    max-width: 100%;
    padding: 0px;
    margin: 0px;
} 

.md-grid { 
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}



/* ======= CONTENT WITH LIGHT BASE MOBILE PADDING ======= */



	@media only screen and (min-width: 1220px) {
		.md-content{
			margin: 50px;
		}
	}

	@media only screen and (max-width: 1219px) {
		.md-content {
			padding: 50px 10px;
			margin-left: auto;
			margin-right: auto;
		}
	
	}

	p {
		font-size: 18px; 
		font-weight: 350;
	}



/* ======= BARRE DE COULEUR HAUTE ======= */

.md-header {
    height: 30px;
}

.md-header__button.md-icon > * {
    padding: 0px;
    margin: 0px;
}

.md-header__button.md-logo {
    
}

.md-header__topic {
    display: none;
}


.md-header__button.md-icon {
    padding: 0px;
    margin: 5px 0px 0px 5px;
    position: absolute;
    top: 0;
    left: 0;
}










/* ======= NAVIGATIONS, TOC, PREV-NEXT ======= */


.md-sidebar__inner {
    padding: 0px !important;
}


    /* ======= NAVIGATION ======= */


    .md-sidebar--primary {
        left: 0; 
    } 

    .md-nav__link.md-nav__link--active::after {
        content: "";
    }

    .md-sidebar.md-sidebar--secondary > .md-sidebar__scrollwrap {
        padding: 15px;
        box-shadow: -5px 0px 8px rgba(0,0,0,0.1);
    }

    .md-sidebar.md-sidebar--secondary {
        padding: 0px;
    }

    .md-nav--secondary > .md-nav__title {  
	font-size: 18px;
	color: #666;
	line-height:20px;
	padding: 25px 0;    
	margin: 25px auto 25px auto;
	border-bottom: 1px solid #DDD;
    }

        /* ------ CORRECTION DATAMI BUG */

        .md-nav__link {
            color: rgba(125,125,125,1) ;
            font-size:17px;
        }

        /* ------ GRAND ECRAN */

        @media only screen and (min-width: 1220px) {

            .md-sidebar.md-sidebar--primary {
                width: 300px;
                padding: 0px !important;
            }

            .md-nav--primary > .md-nav__title {  
                font-size: 18px;
                color: #666;
		line-height: 25px;
    		padding: 25px 15px 25px 0px;    
                margin: 125px auto 25px auto;
                border-bottom: 1px solid #DDD;
	        border-top: 1px solid #DDD;
            }

            .md-sidebar.md-sidebar--primary > * {       
                padding-left: 25px;
                margin: 0;
                box-shadow: 5px -10px 8px rgba(0,0,0,0.1);
	        background-color: white;
            }
		
            .md-nav__item.md-nav__item--active > a {
                margin: 10px 0px;
                padding: 10px;
                background-color: white;
                border-width: 0px 0px 0px 3px;
                border-style: solid;
                border-color : var(--md-primary-fg-color);
		background-color: #f9f9f9;    
                border-radius: 0px 0px 0px 0px;
            }
		

		.md-nav__item--nested > nav {
			padding-left:15px;
			border-left: 1px solid #CCC;
		}

		.md-nav__item--nested > nav > ul {
			padding: 1px 0 0px 0;
		}

		.md-nav__item {
			padding: 0px;
		}	

		.md-nav__link {
			margin: 20px auto;
		}
			
		/* ======= LOGO ======= */

		.md-header__button.md-logo {
			position: absolute;
			top: 65px;
			left: 15px;
		}

		.md-header__button.md-logo :-webkit-any(img,svg) {
			height: 2.5rem;
			max-width: 200px;
		}			
			
			
			
			
			
			
        }   

    /* ======= PREV-NEXT & FOOTER ======= */

        .md-footer__inner.md-grid, .md-header__source {
            display:none !important;
        }



/* ======= OVERWRITE COLOR MKDOCS - Deactivate ======= */

/*
:root > * {
	--color-back-form: rgba(245, 245, 245, 0.9);
	--color-button: #1FAA1F;
	--md-primary-fg-color: #2B8DCE !important;
	--md-primary-fg-color-light: rgba(19,96,149,0.2) !important;
	--md-primary-fg-color--dark: #505050;
}
*/





/* =================  ANCIENNEMENT Konsilion.css ================ */

h1 {
	font-weight: bold !important;
}


details > summary {font-size: 15px;}  

.ksln-banner-img {
    position: absolute;
    object-fit: cover;
    width: 225px;
    max-width: 30%;
    height: 225px !important;
    z-index: 5;
    right: -75px;
    top: -50px;
    border-radius: 500px;
    border-style: solid;
    border-color: var(--md-primary-fg-color);
    border-width: 10px 3px 0px 10px;
}

.ksln-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}
    
.ksln-switch input { 
  opacity: 0;
  width: 0;
  height: 20;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
    
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}





#LogoIndex {
    position: fixed;
    top: 60px;
    left: 25px;
    max-width: 135px;
    max-height: 50px;
    filter: grayscale(100%);
    opacity: 0.5;
}


.ksln-btn-bottom {
	z-index:500;
        background-color: #EEE;
        color: grey;    
        font-size: 17px;
        font-weight: 500;
        position: fixed;
        bottom: 0px;
        right: 0;
        padding: 7px 15px;
        border-radius: 10px 0px 0 0px;
        cursor: pointer;
}


.ksln-btn-bottom:hover {
    	background-color: rgba(50,50,50,1);
    	color: white;
}

    .kslt-btn-index {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    
    .BtnConfig {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }



@media only screen and (max-width: 1219px) {
	#LogoIndex {
		display: none;
	}
}

.hide{display: none;}   


#ShowNav {
    background-color: var(--md-primary-fg-color);
    color: white;    
    font-size: 17px;
    font-weight: 500;
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 0 0 10px 0;
    padding: 4px 15px; 
    cursor: pointer;
    z-index: 4;
}


#HideNav {
    background-color: var(--md-primary-fg-color);
    color: white;
    font-size: 17px;
    font-weight: 500;
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 0 0 10px 0px;
    padding: 4px 15px;
    cursor: pointer;
    z-index: 4;
}

#HideNav:hover {
    background-color: rgba(50,50,50,1);
    color: white;
}
#ShowNav:hover {
    background-color: rgba(50,50,50,1);
    color: white;
} 


@media only screen and (max-width: 1219px) {
	#HideNav {
	    display: none;
	}
}














/* ======== Anciennement Konsilion-Datami.css ======= */

/* ======= KONSILION ADDED ELEMENTs ======= */

#DescrKatalog { 
    font-size: 18px; 
    font-weight: 350;
    max-width: 1000px
}




/* ======= BODY WITH FULL WIDTH & HEIGTH ======= */

    .section {
        padding: 0px !important;
    }

    .container {
        max-width: 100% !important;
    }


    .columns.is-mobile>.column.is-10 {
        /* permet une pleine largeur des cards*/
        flex: 1 !important;
    }
    





/* ======= ELEMENTS PRINCIPAUX ======= */

    .datami-widget {
        background-color: rgb(0,0,0,0) !important;
    }

    .upper-container {
          margin-bottom: 20px !important;  
          border-width: 0px 0px 4px 0px !important;
          border-style: solid !important;
          border-image: linear-gradient(to right, var(--md-primary-fg-color), white) 0.5 !important;    
    }

  




/* ======= PETITS ICONs ======= */

    .mdi {
        font-size:18px !important;
        color: var(--md-primary-fg-color--light) !important;
    }
    
    .mdi-close {
        color: red !important;
    }





/* ======= BUTTON ELEMENTS ======= */


    .button.outlink {
        width: 100% !important;
    }

    .button.is-small:not(.is-rounded){
        border-radius: 25px !important;
    }

    .button.is-dark.is-outlined {
        border-color: #DDD !important;
    }

    .is-dark.input {
        border-color: #DDD !important;
    }
  
    .navbar-link.is-arrowless {
        /*act on filters button radius*/
        border-radius: 25px !important;
    }




/* ======= CARD GRID DISPLAY ======= */


    .column.is-4, .column.is-4-tablet {
        -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
        flex: none !important;
        width: 100% !important;
    }


    @media only screen and (min-width: 769px) and (max-width: 1399px) {
        .column.is-4, .column.is-4-tablet {
            width: 50% !important;
        }
    }

    
    @media only screen and (min-width: 1400px) {
        .column.is-4, .column.is-4-tablet {
            width: 33.33333337% !important;
        }
    }
    

/* ======= BUTTON FUNCTION - Que ne je ne souhaite pas ======= */

    .ButtonDarkMode, .ButtonChangeUserBranch, .ButtonFullscreen, .ButtonChangeLocale, .ButtonChangeUserToken, .DatamiCredits {
        display: none !important;
    } 





/* ======= CARD ELEMENTS ======= */


    /* ======= ALL CARDs ======= */

        .card {
            background-color: white !important;
            border-radius: 20px !important;
            box-shadow: 0 0em 1em -.125em hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.02) !important;
        }

        .card:hover {
            box-shadow: 0 14px 28px rgb(0 0 0 / 5%), 0px 0px 10px var(--md-primary-fg-color--light) !important;
        }

        .card-header {
            padding-bottom: 12px !important;
        }

        .DatamiCardBlockContent-title > * {
            font-size: 22px !important;
            font-weight: bold !important;
        }

        .card-header-icon > div > div > span > .mdi-eye {
            color: white !important;
        }

        .card-content {
            padding: 15px !important;

        }

        .card-footer {
            border-top: 0px !important; 
        }
    
    /* ======= DatamiCard(s)... ======= */

    
        .DatamiCardsGrid {
            margin-top:25px !important;
        }

        .DatamiCardBlockImage {
            justify-content: center !important;
            text-align: center !important;
            max-height: 150px !important;
            border-top: 1px solid #DDD !important;
            border-bottom: 1px solid #DDD !important;
            overflow: hidden !important;
            background-color: #f9f9f9 !important;
        }

        .DatamiCardBlockImage > figure > img {
            margin: 10px auto !important;
            object-fit: cover !important;
            display: block !important;
            width: 80% !important;
            max-height: 130px !important;
            border-radius: 10px !important;
        }

        .DatamiCardBlockTags {
            padding-top:25px !important;
        }


    /* ======= Other Elements : Class as 'IDs' ======= */

        .DatamiGrid {
            padding: 0px !important;
        }


        .PreviewCsv {
            margin-top:40px !important;
        }



        .CustomFilterDropdown {
           border: 1px solid #DDD !important;
           border-radius: 25px !important;
        }
