/* ======= BODY WITH FULL WIDTH & HEIGTH ======= */


.md-grid { 
    max-width: initial;
    margin: 0px;
}



/* ======= CONTENT WITH LIGHT BASE MOBILE PADDING ======= */



	@media only screen and (min-width: 1220px) {
		.md-content{
			margin: 50px auto;
			width: 70%;
			max-width: 1200px;
			padding: 0 25px;
		}
	}

	@media only screen and (max-width: 1219px) {
		.md-content {
			padding: 50px 10px;
			margin-left: auto;
			margin-right: auto;
		}
	
	}

	p {
		font-size: 18px; 
		font-weight: 350;
	}



/* ======= BARRE DE COULEUR HAUTE ======= */

.md-header__title {
    font-size: 21px !important;
    display: none;
    margin-left: 50px!important;
}

.md-search {
	margin: auto;
}





/* ======= NAVIGATIONS, TOC, PREV-NEXT ======= */


.md-sidebar__inner {
    padding: 0px !important;
}


    /* ======= NAVIGATION ======= */


    .md-sidebar--primary {
        left: 0; 
    } 

    .md-nav__link.md-nav__link--active::after {
        content: "";
    }

    .md-sidebar.md-sidebar--secondary > .md-sidebar__scrollwrap {
        padding: 15px;
        box-shadow: -5px 0px 8px rgba(0,0,0,0.1);
    }

    .md-sidebar.md-sidebar--secondary {
        padding: 0px;
    }

    .md-nav--secondary > .md-nav__title {  
	font-size: 18px;
	color: #666;
	line-height:20px;
	padding: 25px 0;    
	margin: 25px auto 25px auto;
	border-bottom: 1px solid #DDD;
    }

        /* ------ CORRECTION DATAMI BUG */

        .md-nav__link {
            color: rgba(125,125,125,1) ;
            font-size:17px;
        }

        /* ------ GRAND ECRAN */

        @media only screen and (min-width: 1220px) {

            .md-sidebar.md-sidebar--primary {
                width: 300px;
                padding: 0px !important;
            }

            .md-nav--primary > .md-nav__title {
                display: none;
            }

            .md-sidebar.md-sidebar--primary > * {       
                padding: 25px 0 0 15px;
                margin: 0;
                box-shadow: 5px -10px 8px rgba(0,0,0,0.1);
                background-color: white;
            }

            .md-nav__item.md-nav__item--active > a {
                margin: 0px;
                padding: 15px;
                background-color: #EEE;    
                border-radius: 50px 0px 0px 50px;
            }


            .md-nav__item--nested > nav {
                padding-left:15px;
                border-left: 1px solid #CCC;
            }

            .md-nav__item--nested > nav > ul {
                padding: 1px 0 0px 0;
            }

            .md-nav__item {
                padding: 0px;
            }

            .md-nav__link {
                margin: 0px;
                padding: 15px;
            }
            .md-nav__link:hover {
                margin: 0px;
                color: black;
                background-color: #F5F5F5;    
                border-radius: 50px 0px 0px 50px;
            }
        }   

    /* ======= PREV-NEXT & FOOTER ======= */

        .md-footer__inner.md-grid, .md-header__source {
            display:none !important;
        }



/* ======= OVERWRITE COLOR MKDOCS - Deactivate ======= */

/*
:root > * {
	--color-back-form: rgba(245, 245, 245, 0.9);
	--color-button: #1FAA1F;
	--md-primary-fg-color: #2B8DCE !important;
	--md-primary-fg-color-light: rgba(19,96,149,0.2) !important;
	--md-primary-fg-color--dark: #505050;
}
*/





/* =================  ANCIENNEMENT Konsilion.css ================ */

h1 {
	font-weight: bold !important;
}





details > summary {font-size: 15px;}  

.ksln-banner-img {
    position: absolute;
    object-fit: cover;
    width: 225px;
    max-width: 30%;
    height: 225px !important;
    z-index: 5;
    right: -75px;
    top: -50px;
    border-radius: 500px;
    border-style: solid;
    border-color: var(--md-primary-fg-color);
    border-width: 10px 3px 0px 10px;
}

.ksln-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}
    
.ksln-switch input { 
  opacity: 0;
  width: 0;
  height: 20;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
    
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}



.ksln-btn-bottom {
    z-index: 4;
    background-color: rgba(255,255,255,0.7);
    color: #555;
    font-size: 17px;
    font-weight: 500;
    position: fixed;
    bottom: 0px;
    right: 0;
    padding: 7px 15px;
    border: 1px solid grey;
    border-radius: 10px 0px 0 0px;
    cursor: pointer;
}


.ksln-btn-bottom:hover {
    	background-color: rgba(50,50,50,1);
    	color: white;
}


.ksln-btn-top {
    z-index: 4;
    background-color: rgba(0,0,0,0.4);
    color: #DDD;
    font-size: 17px;
    font-weight: 500;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 7px 20px;
    border-radius: 0px 0px 0 10px;
    cursor: pointer;
}

.ksln-btn-top:hover {
    	background-color: rgba(50,50,50,1);
    	color: white;
}



.kslt-btn-index {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}


.BtnConfig {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}



@media only screen and (max-width: 1219px) {
	#LogoIndex {
		display: none;
	}
}

.hide{display: none;}   


#ShowNav {
    background-color: var(--md-primary-fg-color);
    color: white;    
    font-size: 17px;
    font-weight: 500;
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 0 0 10px 0;
    padding: 4px 15px; 
    cursor: pointer;
    z-index: 4;
}


#HideNav {
    
    box-shadow: 5px 0px 5px rgba(0,0,0,0.1);
	background-color: white;
	color: grey;
	font-size: 17px;
	font-weight: 500;
	position: fixed;
	bottom: 75px;
	left: 300px;
	border-radius: 0px 10px 10px 0px;
	padding: 4px 0px;
	cursor: pointer;
	z-index: 4;
	width: 30px;
}

#HideNav:hover {
    background-color: rgba(50,50,50,1);
    color: white;
}
#ShowNav:hover {
    background-color: rgba(50,50,50,1);
    color: white;
} 


@media only screen and (max-width: 1219px) {
	#HideNav {
	    display: none;
	}
}
